<% provide :title, t(".heading") %>
<%= link_to "English", locale:"en" %>
<%= link_to "Vietnamese", locale:"vi" %>
<h1>
  <%= t(".app_name") %>
</h1>
<p>
  <%= t ".intro" %>
  <%= link_to t("tutorial"), Settings.ruby_on_rails_url %>
  <%= t(".type_app") %>.
</p>
