<h1><%= t "static_pages.home.app_name" %></h1>
<p><%= t ".greetings" %> <%= @user.name %>,</p>

<p>
  <%= t ".welcome" %>
</p>

<%= link_to t(".active"),
  edit_account_activation_url(id: @user.activation_token, email: @user.email) %>

