<h1><%= t ".subject" %></h1>

<p><%= t ".intro" %></p>

<%= link_to t(".reset_password"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>

<p><%= t ".expire" %></p>
<p>
  <%= t ".not_own_request" %>
</p>
